*{
    margin:0;
}
.body{
    margin: 0;
    padding: 0;
}


.rectangle{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #D4F1F4;
    justify-content: space-around;
    display: flex;
    
}

.price {
    text-align: center;
    padding-top:10px;
    font-size: 15px ;
    font-weight: bold;
}

.down {
    color: red;
}
.up{
    color: green;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}
.nav-links{
    display: flex;
    gap:40px;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 25px;
    align-items: center;
}
.nav-links a{
    float: right;
    text-decoration: none;
    color: black;
}
.register{
    padding: 5px 15px;
    border: 1px solid #3b82f6;
    color:#3b82f6;
    border-radius: 5px;
    font-size: 20px;
}
.login{
text-decoration: none;
color: black;
}
.logo{
   float: left;
   padding-left: 60px;
   padding-top: 10px;
   width: 150px;
}
.rect2{
    justify-content: center;
    width: 100%;
    height:40px;
    background-color: #2F80ED;
    margin-top: 10px;
    font-size:15px;
    color: white;
    display: flex;
    align-items: center;
}
#leftsec h1{
    padding-top: 30px;
    font-size: 46px;
}
#leftsec{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.inleft{
    position: relative;
    font-weight: bold;
    font-family:Ninova;
    padding-left: 60px;
    padding-top: 30px;
    font-size:45px;
    align-items: center;
}
.text{
    font-size: 19px;
    font-weight: lighter;
    padding-top: 20px;
}
.getstarted{
    position: relative;
    padding-top:40px;
    display: flex;
    align-items: center;
}
.star{
    height: 60px;
    width: 220px;
}
.apple{
    width: 36px;
    height: 36px;
    padding-left: 30px;
}
.android{
    width: 36px;
    height: 36px;
    padding-left: 10px;
}
.napis{
    font-size: 20px;
    padding-top: 10px;
    font-weight: lighter;
    align-items: center;
    
}

.tekst{
    position: relative;
    align-items: center;
    display: flex;
}
.JM{
    padding-top: 10px;
    padding-left: 10px;
}
.plus{
    padding-left: 5px;
    font-size:24px;
    padding-top: 10px;
}
.APM{
    padding-top: 10px;

}
.rightsec{
    max-width: 50%;
}
.inright{
    float: right;
}
#phones{
    padding-top: 30px;
}
#pierwsza{
    display: flex;  
    margin: auto; 
    justify-content: center;
}
#hhhh{
    display: flex;
    
}
hr{
    border-radius: 5px;
    border: none;
    background-color: #2F80ED;
    margin: auto;
    height: 1px;
    width: 600px;
    margin-top: 80px;
    margin-bottom: 80px;
}
#druga{
    display: flex;
    justify-content: center;
}


.h1{
    text-align: center;
    font-size: 46px;
    padding-top: 50px;
}
.pp{
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
}
.column{
    display:flex;
    gap: 20px;
}

.inside{
    display: flex;
    align-items:flex-start;
    gap: 10px;
    margin-bottom: 30px;
}
.inside h3{
    margin: 0 0 5px 0;
    padding-left: 5px;
}
.inside p{
    margin:0;
}
.prawa .ss{
    height: 454px;
    width: 619px;
   padding-right: 100px;
   padding-left: 160px;
    
}
.inside .img1{
    height: 80px;
    width: 69px;
    padding-left: 115px;
}
.inside .img2{
    height: 80px;
    width: 87px;
    padding-left: 110px;
}
.inside .img3{
    height: 69px;
    width: 70px;
    padding-left: 120px;
}
.inside .img4{
    height: 80px;
    width: 47px;
    padding-left: 132px;
}
.column{
    padding-top: 50px;
    padding-right: 0;
}
.inside .h{
    margin-left: 15px;
}
.inside .h3{
    margin-left: 2px;
}
.inside .h4{
    margin-left: 15px;
}

.products h1{
   text-align: center;
    font-size: 46px;
    padding-top: 50px;
}
.wektor{
    width:250px;
}
.wektor1{
    width:250px;
}
.wektor2{
    width: 250px;
}
.wektor3{
    width: 250px;
}
.kontener{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    
}
table{
    border-style: hidden;
    width:900px;
    height: 390px;
    border-collapse:collapse;
    margin-top: 20px;
    border: 1px solid #2F80ED;
}
th, td{
    padding: 12px;
    text-align: center; 
    width: auto;
}

tr{
    border: 1px solid #2F80ED;
}
.buybtn{
    height: 45px;
    width: 93px;
    background-color: #ffc107;
    border: none;
    padding:10px, 16px;
    border-radius: 5px;
    font-weight: bold;
}
.dol{
    color: red;
}
.gora{
    color: green;
}

.why{
    text-align: center;
    font-size: 46px;
    margin-top: 60px;
    margin-bottom: 20px;
}
.opis{
    padding-top: 20px;
    font-size: 16px;
    text-align: center;
}
#father{
    display: flex;
    flex-wrap: wrap;
    row-gap: 45;
    justify-content: center;
    max-width: 1200px;
}
.child{
    flex-basis: 30%;
    padding-top: 48px;
    gap: 300px;
    justify-content: center;
    text-align: center;

}
#ojciec{
    display: flex;
    justify-content: center;
    align-items: center;
}

.review{
    text-align: center;
    padding-top: 60px;
    font-size: 46px;
}
.satisfaction{
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}
#customers{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.blg{
    text-align: center;
    padding-top: 60px;
    font-size: 46px;
}
.date{
    text-align: center;
    padding-top: 20px;
    font-size: 16px; 
}
#outside{
    display: flex;
    gap: 45px;
    justify-content: center;
    max-width: 1200px;
}
#blog{
    font-size: 16px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
.more{
    color: #2F80ED;
    font-weight: bold;
    font-size: 20px;
    padding-top: 12px;
}
.in h2{
    padding-top: 20px;
    padding-bottom: 12px;
}
.prostokat{
    display:flex;
    justify-content: center;
    width: 100%;
    margin-top: 80px;
}
.prostokat h3{
    font-size: 20px;
    padding-top: 60px;
    padding-left: 120px;
    padding-bottom: 16px;
}
.prostokat a{
    display: block;
    padding-left: 120px;
    padding-top: 10px;
    color: #828282;
    text-decoration: none;
}
.email{
    padding:10px;
    height: 10px;
    width: 213px;
    border: 2px solid #ccc;
    outline: none;
    border-radius: 5px 0 0 5px;
}
.submit{
    padding: 10px;
    height: 30px;
    width:100px;
    border: 2px #2F80ED;
    outline: none;
    background-color: #2F80ED;
}
#form{
    display: flex;
    margin-top: 20px;
    padding-left: 120px;
}
#form input[type="email"]{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;

}
#form button{
    width: 120px;
    background-color: #2F80ED;
    color: #fff;
    border: none;
    padding: 10 px 20px;
    font-size: 16px;
   
}
#form button:hover{
    background-color: #2F80ED;
}
#dolna{
    background-color: #DDDDDD;
    display: flex;
    align-items: center;
    margin:auto;
}
.foot{
    justify-content: center;
}
#footer{
    background-color: #f2f2f2;


}
#dolny{
    background-color: #DDDDDD;
    width: 1200px;
}
.p1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
    padding-left: 90px;
}
#pr .free{
    margin-left: 20px;
}
.com{
    max-width: 50%;
    align-items: center;
    display: flex;
    margin-bottom: 40px;
}
.partners{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.partners img{
    margin: 10px;
    
}



@media (300px <= width <= 1200px) {
    .rectangle {
      flex-direction: row;
    }
  }

@media (300px <= width <= 1200px){
    .rect2{
        flex-direction: row;
    }
}
@media (300px <= width <=1200px) {
    .nav-links{
        flex-direction: column;
    }
}
