*{
    margin:0;
}
.body{
    margin: 0;
    padding: 0;
}


.rectangle{
    position: relative;
    padding-top:-20px;
    height: 40px;
    width: 100%;
    background-color: #D4F1F4;
    justify-content: space-around;
    display: flex;
    
}

.price {
    text-align: center;
    padding-top:10px;
    font-size: 15px ;
    font-weight: bold;
}

.down {
    color: red;
}
.up{
    color: green;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
  
}
.nav-links{
    display: flex;
    gap:40px;
    padding-top: 20px;
    padding-right: 50px;
    font-size: 25px;
    align-items: center;
}
.nav-links a{
    float: right;
    text-decoration: none;
    color: black;
}
.register{
    padding: 5px 15px;
    border: 1px solid #3b82f6;
    color:#3b82f6;
    border-radius: 5px;
    font-size: 20px;
}
.login{
text-decoration: none;
color: black;
}
.logo{
   float: left;
   padding-left: 60px;
   padding-top: 10px;
   width: 150px;
}
.rect2{
    justify-content: center;
    width: 100%;
    height:40px;
    background-color: #2F80ED;
    margin-top: 10px;
    font-size:15px;
    color: white;
    display: flex;
    align-items: center;
}
.digital{
    position: relative;
    font-weight: bold;
    font-family:Ninova;
    padding-left: 60px;
    padding-top: 30px;
    font-size:45px;
    align-items: center;
}
.text{
    font-size: 19px;
    font-weight: lighter;
    padding-top: 20px;
}
.images{
    padding-top: 10px;
    float: right;
    padding-right: 80px;
    display: flex;
}
.getstarted{
    position: relative;
    padding-left: 70px;
    padding-top:40px;
    display: flex;
    align-items: center;
}
.ip1{
    height: 328px;
    padding-top: 40px;
}
.ip3{
    height: 328px;
    padding-top: 40px;
}
.star{
    height: 60px;
    width: 220px;
}
.apple{
    width: 36px;
    height: 36px;
    padding-left: 30px;
}
.android{
    width: 36px;
    height: 36px;
    padding-left: 10px;
}
.napis{
    font-size: 20px;
    padding-left: 70px;
    padding-top: 10px;
    align-items: center;
    
}
.tekst{
    position: relative;
    align-items: center;
    display: flex;
}
.JM{
    padding-top: 10px;
    padding-left: 10px;
}
.plus{
    padding-left: 5px;
    font-size:24px;
    padding-top: 10px;
}
.APM{
    padding-top: 10px;

}
.linia{
    padding-left:420px;
    padding-top: 60px;
    width: 600px;
}
.h1{
    text-align: center;
    font-size: 46px;
    padding-top: 50px;
}
.pp{
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
}
.column{
    display:flex;
    gap: 20px;
}

.inside{
    display: flex;
    align-items:flex-start;
    gap: 10px;
    margin-bottom: 30px;
}
.inside h3{
    margin: 0 0 5px 0;
    padding-left: 5px;
}
.inside p{
    margin:0;
}
.prawa .ss{
    height: 454px;
    width: 619px;
   padding-right: 100px;
   padding-left: 160px;
    
}
.inside .img1{
    height: 80px;
    width: 69px;
    padding-left: 115px;
}
.inside .img2{
    height: 80px;
    width: 87px;
    padding-left: 110px;
}
.inside .img3{
    height: 69px;
    width: 70px;
    padding-left: 120px;
}
.inside .img4{
    height: 80px;
    width: 47px;
    padding-left: 132px;
}
.column{
    padding-top: 50px;
    padding-right: 0;
}
.inside .h{
    margin-left: 15px;
}
.inside .h3{
    margin-left: 2px;
}
.inside .h4{
    margin-left: 15px;
}
.kreska{
    padding-left:420px;
    padding-top: 60px;
    width: 600px;
}
.products h1{
   text-align: center;
    font-size: 46px;
}
.wektor{
    width:250px;
}
.wektor1{
    width:250px;
}
.wektor2{
    width: 250px;
}
.wektor3{
    width: 250px;
}
.kontener{
    padding-left: 300px;
    display: flex;
    align-items: center;
    
}
table{
    width:900px;
    height: 390px;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #2F80ED;
}
th, td{
    padding: 12px;
    text-align: center;
    border: 1px solid #2F80ED;
    
}
.buybtn{
    height: 45px;
    width: 93px;
    background-color: #ffc107;
    border: none;
    padding:10px, 16px;
    border-radius: 5px;
    font-weight: bold;
}
.dol{
    color: red;
}
.gora{
    color: green;
}





@media (300px <= width <= 1200px) {
    .rectangle {
      flex-direction: row;
    }
  }

@media (300px <= width <= 1200px){
    .rect2{
        flex-direction: row;
    }
}
@media (300px <= width <=1200px) {
    .nav-links{
        flex-direction: column;
    }
}
